Part 1

In [5]:
import pandas as pd
import numpy as np
df = pd.read_csv("Sample Files/california_housing_train.csv")

In [7]:
df.head(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [8]:
df.tail(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
16990,-124.22,41.73,28.0,3003.0,699.0,1530.0,653.0,1.7038,78300.0
16991,-124.23,41.75,11.0,3159.0,616.0,1343.0,479.0,2.4805,73200.0
16992,-124.23,40.81,52.0,1112.0,209.0,544.0,172.0,3.3462,50800.0
16993,-124.23,40.54,52.0,2694.0,453.0,1152.0,435.0,3.0806,106700.0
16994,-124.25,40.28,32.0,1430.0,419.0,434.0,187.0,1.9417,76100.0
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [10]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [21]:
print(df['total_bedrooms'].unique(),)
print("Total distinct values = ", df['total_bedrooms'].nunique())

[1283. 1901.  174. ... 1637. 1308.  936.]
Total distinct values =  1848

In [23]:
df['bedrooms per total rooms'] = df['total_bedrooms'] / df['total_rooms']
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,bedrooms per total rooms
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0,0.228617
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0,0.248497
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0,0.241667
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0,0.224517
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0,0.224209

In [28]:
print("Standard deviation = " , df['bedrooms per total rooms'].std(axis= 0))

Standard deviation =  0.05782300890316167

In [29]:
print("Mean = " , df['bedrooms per total rooms'].mean(axis= 0))

Mean =  0.21275998821034803

In [38]:
df_filtered = df[df['median_income'] > 5]
df_filtered.index

Index([   32,    69,    92,    98,   100,   113,   172,   187,   193,   203,
       ...
       16664, 16680, 16688, 16731, 16735, 16737, 16762, 16776, 16802, 16899],
      dtype='int64', length=3752)

In [41]:
newdf = df[(df['total_rooms'] > 10000.0)  & (df['median_house_value'] < 150000.0) ]
newdf

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,bedrooms per total rooms
133,-116.06,34.15,15.0,10377.0,2331.0,4507.0,1807.0,2.2466,66800.0,0.224631
191,-116.36,33.88,11.0,12557.0,3098.0,2453.0,1232.0,1.7844,78500.0,0.246715
198,-116.38,33.73,10.0,11836.0,2405.0,3811.0,1570.0,4.0079,134500.0,0.203194
201,-116.39,33.82,15.0,11115.0,2257.0,4122.0,1653.0,2.7219,74400.0,0.203059
229,-116.47,33.81,7.0,10105.0,2481.0,6274.0,2095.0,2.4497,90900.0,0.245522
...,...,...,...,...,...,...,...,...,...,...
12654,-121.75,38.67,9.0,12139.0,2640.0,6837.0,2358.0,3.1250,132500.0,0.217481
12772,-121.79,36.64,11.0,32627.0,6445.0,28566.0,6082.0,2.3087,118800.0,0.197536
13388,-121.94,38.27,35.0,10869.0,2226.0,9879.0,2152.0,2.5681,81300.0,0.204803
13707,-122.00,38.25,7.0,11768.0,1893.0,6657.0,1874.0,4.9222,142900.0,0.160860
15436,-122.31,40.55,11.0,13714.0,2302.0,6511.0,2267.0,3.5522,100100.0,0.167858

In [42]:
df.to_csv('part1.csv')